/* navigation */

.navbar{
    background-color:rgba(255, 255, 255, 0.952); 
    padding: 5px 20px;                                      
}

/* hamburger line */

.line1 , .line2 , .line3{
    width: 20px;
    height: 1px;
    margin: 5px;
    background-color: #EF4C00;
    transition: all .5s;
}

.change .line1{
    transform: rotate(-45deg) translate(-5px , 6px);
}
.change .line2{
    opacity: 0;
}
.change .line3{
    transform: rotate(45deg) translate(-5px , -6px);
}

/* hamburger line */

.navbar-brand img{
width: 120px;
}

.nav-link{
    color: rgb(34,34,40);
    text-decoration: none; 
    transition: .5s; 
}
.nav-link:hover{
    color: rgb(134,117,240);
}
.nav-link:focus{
    color: rgb(134,117,240);
}
   /* navigation */
   /* head */
   .header{
    width: 100%;
    height: 100vh;
    background-image: url(../img/seo3-slider-bg.png);
    background-size: 100%;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.header-img{
    display: none;
}
.banner{
    width: 75%;
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.b--badge{
    font-size: .6rem;
}

.banner--links{
    display: flex;
}
 
.banner--btn{
    width: 120px;
    font-size: .8rem;
}
/* head */
/* features */
.features{
    width: 100%;
    background-image: url(../img/seo3-sectionbg4.png);
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.f--info {
    font-size: 1.2rem;
}
.cards{
    width: 100%;
    display: flex;
    justify-content: space-around;
    text-align: center;
}
.card-text{
    color: var(--head-text-color);
    font-size: var(--head-text-size-small);
    font-weight: 700;
}
/* features */
/* about agency */
.about{
    width: 100%;
    background-image: url(../img/seo3-sectionbg2.png);
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
}
.about-img{
    width: 40%;
    padding: 20px;
}


.about-card{
    width: 40%;
    padding: 20px;
}
/* about agency */
/* statistics */
.statistics{
    width: 100%;
    display: flex;
    justify-content: center;
}
.s-card{
    width: 70%;
    background-color: rgb(55,43,125);
    border-radius: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px;
    text-align: center;
    box-shadow: 0px 10px 30px rgba(55,43,125,.2);
}
.s-number{
    color: #eee;
    font-size: var(--head-text-size-big);
    margin-bottom: 5px;
}
.s-info{
    color: var(--badge--color);
}
/* statistics */
/* services */
.services{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 100px;
    padding: 20px;
    text-align: center;
    background-image: url(../img/seo3-sectionbg3.png);
    background-position: center;
    background-size: cover;
    align-items: center;
}
.se--head{
display: flex;
flex-direction: column;
align-items: center;

}

.cards-container{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}
.se--card{
    width: 40%;
    padding: 50px;
    margin: 10px;
    border-radius: 30px;
    background-color: #fff;
    box-shadow: 0px 10px 30px rgba(55, 43, 125, 0.116);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
}
.card-img{
    width: 30%;  
}
.card-info h1{
    color: var(--head-text-color);
    font-size: var(--head-text-size-small);
    font-weight: 700; 
    margin-bottom: 20px;
}
/* our work */
.our-work{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.works-info{
    width: 40%;
}
.works-img{
   width: 40%; 
   padding: 20px;
}
.icon-text{
    color: var(--head-text-color);
    font-size: var(--head-text-size-xsmall);
    font-weight: 700; 
}
/* clients */
.clients{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(../img/seo3-sectionbg5.png);
    background-size: cover;
    background-position: center;
}
.clients-icons{
    display: flex;
    width: 70%;
    justify-content: space-between;
}
.icons-img{
    width: 170px;
    background-color: rgb(252,252,252);
    padding: 5px 30px;
    display: flex;
    justify-content: center;
    cursor: pointer;
    transition: .5s;
}
.icons-img:hover{
    background-color:rgb(230, 230, 230) ;
}
/* clients */
/* join to us */
.join-us{
    width: 100%;
    height: 600px;
    background-image: url(../img/seo3-sectionbg6.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding: 50px;
}
.join-head{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin-top: 10px;
}
.join-badge{
    background-color: rgb(81,59,111);
}
.join-form{
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}
.join-form input{
    width: 100%;
    padding: 8px;
    background-color: rgb(80,71,160);
    box-shadow: none;
    border: none;
}
.join-form input:focus{
outline: none;
background-color: rgb(80,71,160);
}
.join-btn{
    background-color: rgb(252,168,15);
    border: none;
    box-shadow: none;
}
.join-btn:hover{
    background-color: rgb(252,168,15);
}
/* join to us */
/* footer */
.footer{
    width: 100%;
    height: 300px;
    background-color: rgb(55,43,125);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
}
.site-info{
    color: #fff;
    display: flex;
    justify-content: space-around;
}
.info-col{
    width: 250px;
}
.social-media-icon{
    font-size: 1.2rem;
    cursor: pointer;
    color: #fff;
}
.social-media-icon:hover{
    color:  rgb(252,168,15);
}

.info-icon{
    color: rgb(123,102,239);
    font-size: 1.2rem;
}
.info-text{
    font-size: 1.2rem; 
    font-weight: 700;
    margin-left: 10px;
    margin-bottom: 0;
}
.col--3-font{
    align-items: center;
}
/* footer */
.rights{
    width: 100%;
    padding: 30px;
    background-color: rgb(55,43,125);
    color: #fff;
    border-top: .5px solid rgba(238, 238, 238, 0.185);
}
.rights p{
    margin-left: 150px;
    margin-bottom: 0;
}