@media (max-width:425px){
    
    .head-texts{
        width: 100%;
        margin: 20px 0;
        font-size: var(--head-text-size-normal);
        line-height: 30px;
    }
    .badge{
        font-size: .5rem;
    }    
    .info{
        font-size: .8rem;
    }
    
    /* header */
    .header{
        height: auto;
        margin-top: 60px;
    }
    .banner{
        height: auto;
    }
    .services-header{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .services-card , .services-img{
        width: 100%;
    }
    /* header */
    /* section one */
    .sec-one{
        padding: 30px;
    }
    .sec1-head h1 {
        font-size: var(--head-text-size-small);
    }
    .sec1-text{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .text-p , .text-a{
        width: 100%;
    }
    .text-a{
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }
    /* section one */

    /* services */
    .services{
        margin-top: 0;
    }
   
    .se--card{
        flex-direction: column;
    }
    .card-img{
        width: 100%;
        margin-bottom: 16px;
        display: flex;
        justify-content: center;
    }
    .card-info h1{
        font-size: 1rem;
        margin-bottom: 10px;
    }
    /* services */
    }